---
import "../assets/styles/app.css";
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

        <link rel="apple-touch-icon" sizes="180x180" href="/perfect-pace/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/perfect-pace/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/perfect-pace/favicon-16x16.png">
        <link rel="shortcut icon" href="/perfect-pace/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/perfect-pace/favicon.ico" type="image/x-icon">

		<meta name="generator" content={Astro.generator} />
		<title>Perfect Pace</title>
        <meta name="description" content="Create your race startegy and plan your running pace." />
<meta name="keywords" content="running,marathin,half-marathon,pace,calculator,training,plan,strategy" />
        <meta name="author" content="Matteo Maio Barbero" />
	</head>
    <body class="prose max-w-none min-h-screen flex flex-col justify-between">
<Navbar />
		<slot />
<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
